@import url('https://fonts.googleapis.com/css2?family=Jacquard+24&family=Jacquarda+Bastarda+9+Charted&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.jacquard-24-regular {
    font-family: "Jacquard 24", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}
body {
    background-color: rgb(255, 255, 255);
    
    font-family: "Jacquard 24";
    height: 200vh;
    padding: 10px;
}

h1{
    text-align: center;
}
p{
    text-align: center;
}

header{
    background-color: rgb(139, 0, 245);
    color: rgb(89, 255, 7);
    backdrop-filter: blur(10px);
    margin: 10px 0;
    border-radius: 6px;
    height: 130px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

#principal {
    display: flex;
    height: 800px;
    width: 100%;
    border-radius: 6px;
    justify-content: space-between;
}

main {
    background-color: black;
    color: blue;
    border-radius: 6px;
    height: 100%;
    width: 74%;
}

aside{
    background-color: rgb(24, 247, 3);
    border-radius: 6px;
    height: 100%;
    width: 25%;
}

footer {
    background-color: aqua;
    border-radius: 6px;
    height: 100px;
    width: 100%;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer p {
    font-size: 1.2rem;
    color: rgb(252, 4, 4);
}

section1 {
    display: flex;
    justify-content: left;
}

#profile-image{
    border-radius: 100px;
    height: 120px;
    width: 120px;
}

#section1 {
    background-color: aliceblue;
    border-radius: 6px;
    height: 90%;
    width: 90%;
    margin: 10px ;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
}